node_modules
/vendor/
/public/storage/
/public/images/
/storage/
.env
/.idea/
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
composer.lock
*.log
/.phpunit.result.cache
/.parcel-cache/
/.cache/
/.sass-cache/
coverage/
/.DS_Store
Thumbs.db